@font-face {
  font-display: swap;
  font-family: Input Mono;
  src: url("/badge/fonts/InputMono-Regular.woff2") format("woff2");
}

:root {
  --fontDisplay: "Input Mono", Arial, sans-serif;
  --nrwl-blue: #0B1A2D;
}

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--nrwl-blue);
  font-family: var(--fontDisplay);
  font-weight: 400;
  color: #fff;
}

p {
  margin: 1rem 0;
}

.badge-pane {
  position: relative;
  width: 1012px;
  height: 506px;
  margin: auto;
  background: url(/badge/img/grid.png) 14px 12px;
  background-size: contain;
}

.donut {
  position: absolute;
  background: url(/badge/img/donut.png);
  background-size: contain;
  width: 239px;
  height: 212px;
  top: 200px;
  left: 94px;
}
.pyramid {
  position: absolute;
  background: url(/badge/img/pyramid.png);
  width: 119px;
  height: 168px;
  top: 46px;
  right: 0px;
  background-size: contain;
}

.logo {
  position: absolute;
  top: 60px;
  left: 51px;
}
.logo > img {
  width: 130px;
  height: 120px;
}

.card {
  position: absolute;
  top: 32px;
  left: 250px;
  width: 696px;
  height: 414px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.32) 35.47%, rgba(255, 255, 255, 0.04) 100%);
  backdrop-filter: blur(30px);
  border-radius: 30px;
  border: solid 3px rgba(255, 255, 255, 0.8);
  overflow: hidden;
  font-size: 16px;
  line-height: 1.2;
}

.top-bar {
  position: absolute;
  padding: 32px 40px;
  flex: 0;
}

.badge-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex: 1;
}
.badge-name {
  padding: 16px 24px;
  border-radius: 8px;
  background: var(--nrwl-blue);
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 0;
}
.badge-twitter {
  font-size: 24px;
  margin-bottom: 0;
}

.bottom-bar {
  flex: 0;
  padding: 32px 40px;
  display: flex;
  background: rgba(255, 255, 255, 0.2);
}
.cta {
  flex: 1;
  text-align: right;
}


a:link,
a:visited {
  text-decoration: none;
  color: #fff;
}

label {
  color: #fff;
}

.badge-label {
}
.badge-name {
}
